# Servidor Linux Cliente 1
define host {
    use                     generic-host
    host_name               cliente-debian-01
    alias                   Cliente Linux Debian
    address                 192.168.1.10
    max_check_attempts      5
    check_period            24x7
    notification_interval   30
    notification_period     24x7
}