# Monitoreo de Servicio SSH
define service {
    use                     generic-service
    host_name               cliente-debian-01
    service_description     Estado SSH
    check_command           check_ssh
    contacts                admin-grupo
}

# Monitoreo de Recursos (CPU) usando NRPE (Puerto 5997)
define service {
    use                     generic-service
    host_name               cliente-debian-01
    service_description     Carga de CPU
    check_command           check_nrpe!check_load
    contacts                admin-grupo
}