# Comando para alertas de servicios por Telegram / Script
define command {
    command_name    notify-service-by-telegram
    command_line    /usr/local/bin/send_telegram.sh "$NOTIFICATIONTYPE$" "$HOSTNAME$" "$SERVICEDESC$" "$SERVICESTATE$" "$SERVICEOUTPUT$"
}

# Comando para monitoreo de agentes Linux vía NRPE (Puerto 5997)
define command {
    command_name    check_nrpe
    command_line    /usr/lib/nagios/plugins/check_nrpe -H $HOSTADDRESS$ -p 5997 -c $ARG1$
}